/*

   RESET

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* 

GENERAL

*/

.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}

:root{
    --main-color-blue: #0084FD;
    --color-section-even: #9792E4
}

div i{
    vertical-align: -webkit-baseline-middle;
}

main section{
    padding: 40px 0;
}

/* main section:nth-child(2){
    padding: 40px 0;
} */

/* 

HEADER

*/

.head-flex{
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    color: white;
}

.head-flex div:nth-child(2){
    display: none;
}

header{
    background-color:var(--main-color-blue);
}


nav ul li, nav ul li a{
    text-decoration: none;
    display: inline-block;
    color: white;
}

.head-flex div img{
    width: 75%;
}

/* 

MAIN

*/

.row div{
    border-radius: 20px;
    margin-bottom: 20px;
}

main section:nth-child(even){
    background-color: #9792E4;
}

.col50 img, .col50 div img{
    width: 100%;
    padding: 20px;
}

.col50{
    padding: 20px 10px;
    color: white;
}

.col50 > h3, .col50 > p{
    color: white;
    margin-top: 30px;
    line-height: 30px;
}


.col50 div{
    background-color: white;
    border-radius: 20px;  
}


.box-white h3, .box-white p{
    color: black;
    text-align: center;
    padding: 10px 10px;
}

.box-white a{
    display: inline-block;
    background-color: #9792E4;
    border-radius: 50%;
    text-align: center;
    padding: 10px;
}





/* 

RESPONSIVE

*/


/* TABLET */
@media screen and (min-width:768px) {
      
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    
    .my-col{
        width: calc(100% / 3 - 40px);
        margin: 20px 20px;
    }
    
    .my-col-66{
        width: calc((100% / 3) * 2 - 40px);
        margin: 20px 20px;
    }

   
}


/* DESKTOP */
@media screen and (min-width:992px) {
    .container{
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 0;
    }
    
    
    .head-flex div:nth-child(2){
        display: block;
    }

    .head-flex div:nth-child(3){
        display: none;
    }

   
    .col50{
        width: calc(100% / 2);
        position: relative;
    }

    .box-white{
        position: absolute;
        top: 125px;
    }

}







/* 

DEBUG

*/

.debug .row .my-col-66, .debug .row .my-col{
    background-color: aqua;
    height: 300px;
}