/*

   RESET

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* 

GENERAL

*/

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

:root{
    --main-color-blue: #0084FD;
    --color-section-even: #9792E4
}

div i{
    vertical-align: -webkit-baseline-middle;
}

main section{
    padding: 40px 0;
}

.button-white{
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    color: black;
}

.my-col-66{
    background-color: #B5DDFF;
}

.my-col{
    background-color: #B5DDFF;
}

.button-blue{
    display: inline-block;
    padding: 14px 50px;
    color: white;
    background-color: #0084FD;
    border-radius: 20px;
    text-decoration: none;
    letter-spacing: 5px;
    margin-bottom: 20px;
}

.card-info-big img{
    width: 100%;
}




/* 

HEADER

*/

.head-flex{
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    color: white;
}

.head-flex div:nth-child(2){
    display: none;
}

header{
    background-color:var(--main-color-blue);
}


nav ul li, nav ul li a{
    text-decoration: none;
    display: inline-block;
    color: white;
    margin: 0 7px;
}

.head-flex div img{
    width: 75%;
}

.fa-brands, .fa-apple{
    vertical-align: revert;
}

/* 

MAIN

*/

.row > div{
    border-radius: 20px;
    margin-bottom: 20px;
}

main section:nth-child(even){
    background-color: #9792E4;
}

.col50 img, .col50 div img{
    width: 100%;
    padding: 20px;
}

.col50{
    padding: 20px 10px;
    color: white;
}

.col50 > h3{
    color: white;
    margin-top: 30px;
    font-size: 30px;
}

.col50 > p{
    color: white;
    margin-top: 40px;
    line-height: 30px;
}


.col50 div{
    background-color: white;
    border-radius: 20px;  
}


.box-white h3, .box-white p{
    color: black;
    text-align: center;
    padding: 10px 10px;
}

.box-white p{
    line-height: 30px;
}

.fa-solid, .fa-arrow-down{
    vertical-align: baseline;
}

.box-white{
    text-align: center;
    padding: 30px;    
}


.box-white a{
    display: inline-block;
    background-color: #9792E4;
    border-radius: 50%;
    padding: 17px;
    color: black;
}

.col-100{
    background-color: #9792E4;
    margin-top: 20px;
}

.circle-img img{
    clip-path: circle(50%);
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 20px 0;
}


.col-100 .circle-img{
    text-align: center;
}

.col-100 div:nth-child(2){
    text-align: center;
}

.card-info-big{
    padding: 50px 50px 0 50px;
}

.card-info-big h2{
    color: #0084FD;
    font-size: 25px;
    margin-bottom: 30px;
}

.card-info-big p{
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 30px;
}

.card-info-2{
    padding: 30px;
    text-align: center;
}


.card-info-2 div i{
    font-size: 70px;
}


.card-info-2 div i, .card-info-2 div h2 {
    color: #0084FD;
}

.card-info-2 div h2{
    margin: 20px 0;
}


.card-info-2 div p{
    line-height: 35px;
    font-size: 20px;
}


/* 

RESPONSIVE

*/


/* TABLET */
@media screen and (min-width:768px) {
      
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    
    .my-col{
        width: calc(100% / 3 - 40px);
        margin: 20px 20px;
    }
    
    .my-col-66{
        width: calc((100% / 3) * 2 - 40px);
        margin: 20px 20px;
    }

   
   
}


/* DESKTOP */
@media screen and (min-width:992px) {
    .container{
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 0;
    }
    
    
    .head-flex div:nth-child(2){
        display: block;
    }

    .head-flex div:nth-child(3){
        display: none;
    }

    .col50{
        width: calc(100% / 2);
        position: relative;
    }

    .box-white{
        position: absolute;
        top: 125px;
    }

    .card-info-big{
        display: flex;
    }

    .card-info-big div:first-child{
        width: 60%;
    }

    .card-info-big div:last-child{
        width: 40%;
    }

    .cont-img-big{
        display: flex;
        align-items: flex-end;
    }

    .button-blue{
        margin-bottom: 40px;
    }
}







/* 

DEBUG

*/

/* .debug .row .my-col-66, .debug .row .my-col{
    background-color: aqua;
    height: 300px;
} */